.cart-widget {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 2.5rem;
}

.cart-notification {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ef4444;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}